<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://kit.fontawesome.com/cf4c8d1638.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap" rel="stylesheet">
</head>

<body class="d-flex text-center text-white" style="background-color:#e7d7c1">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- Header starts here -->
        <header class="mb-2">
            <div>
                <!-- <h3 class="float-md-left mb-0 h2">
                <svg style="width: 2rem;font-color:white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M328.1 112L563.7 405.4C571.7 415.4 576 427.7 576 440.4V464C576 490.5 554.5 512 528 512H48C21.49 512 0 490.5 0 464V440.4C0 427.7 4.328 415.4 12.27 405.4L247 112L199 51.99C187.1 38.19 190.2 18.05 204 7.013C217.8-4.027 237.9-1.789 248.1 12.01L288 60.78L327 12.01C338.1-1.789 358.2-4.027 371.1 7.013C385.8 18.05 388 38.19 376.1 51.99L328.1 112zM407.5 448L288 291.7L168.5 448H407.5z"/></svg>
                </h3> -->
                <i class="fa-solid fa-campground float-md-left mb-0 h1" style="color:#735751"></i>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active link-secondary h6" aria-current="page" href="#">Home</a>
                    <a class="nav-link link-secondary h6" href="/campgrounds">Campgrounds</a>
                    <% if(!currentUser) { %>
                        <a class="nav-link link-secondary h6" href="/login">Login</a>
                        <a class="nav-link link-secondary h6" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link link-secondary h6" href="/logout">Logout</a>
                            <% } %>
                </nav>
            </div>
        </header>
        <!-- Header ends here -->
        <!-- Banner stars here -->
        <main class="px-3">
            <div id="top">
                <div class="row justify-content-md-center align-items-center" align="center">
                    <div class="col-lg-4" align="center" style="margin-bottom:10%">
                        <div class="left-content" >
                            <h1 class="mb-4 h1" style="font-family: 'Dancing Script', cursive;font-size:400%;">Yelp Camp</h1>
                            <h5 class="mb-3 " style="font-family: 'Poppins', sans-serif">THE BEST CAMPING EXPERIENCE</h5>
                            <a href="/campgrounds" class="btn btn-lg btn-secondary" 
                                style="background-color:#a78a7f; font-size: 1 rem; font-family: 'Poppins', sans-serif">Explore Campgrounds</a>
                        </div>
                    </div>
                    <div class="col-lg-8 float-right" >
                        <img class="img-fluid float-right" src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=70"
                            alt="">
                    </div>
                </div>
            </div>
        </main>
        <!-- Banner ends here -->
    </div>

    </div>
    <footer class="mt-auto text-white-50">
        <p>&copy; 2020 </p>
    </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>