<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <!-- boostrap5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <!-- navbar stars here -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:#C2AE96">
        <div class="container-fluid" >
            <a class="navbar-brand" href="#" >Xiaoxuan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/campgrounds">Projects</a>
                    <a class="nav-link" href="/campgrounds/new">Experience</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar stars here -->
    <main>
        <class class="row">
            <h3>Operating Systems Labs2</h2>
        </class>
        <class class="row">
            <h3>Campgrounds Web Application</h2>
        </class>
        <class class="row">
            <h3>E-commerce Website Customers Microservice</h2>
        </class>
        <class class="row">
            
        </class>
    </main>
</body>
</html>